@font-face {
    font-family: '3Dumb';
    src:  url('../fonts/3Dumb.ttf') format('truetype');
}
@font-face {
    font-family: 'TGE';
    src:  url('../fonts/trump_gothic_east.ttf') format('truetype');
}
@font-face {
    font-family: 'LGR';
    src:  url('../fonts/LeagueGothic-Regular.otf') format('truetype');
}

body {
    font-family: 'Crete Round', serif;
    font-size: 16px;
    font-weight: 400;

    color: #ffffff;
    background: #461714;
    letter-spacing: 1px;
}

p {
    line-height: 30px;
    font-weight: 400;
}

h1{
    font-family: 'TGE';
    font-style: "normal";
    font-size: 350%;
    text-shadow: 1px 3px 2px #000000;
    color: #A81213;
}

h3{
    font-family: 'LGR';
    font-style: "normal";
    font-size: 250%;
    color: #A81213;
}
h4,
h5,
h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway', Helvetica, Arial;
    font-weight: 700;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #308ac6;
}

.btn-default {
    border-radius: 2px;
    border: 1px solid #bdc3c7;
    font-size: 14px;
    color: #95a5a6;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 20px;
}

.btn-default:hover {
    background: #fff;
    color: #3498db;
    border: 1px solid #3498db;
}

.btn:active {
    box-shadow: none;
}


/* logo */

.navbar-brand {
    width: 179px;
    height: 32px;
    padding-top: 10px;
    margin: 0;
    font-size: 200%;
    color: yellow;
    font-family: '3Dumb';
    /*
    background: url(../img/brand.png) no-repeat;
    text-indent: -9999px;
    */
}


/***end logo***/


/***navbar***/

.navbar-default {
    background: none;
    border: none;
    padding: 20px 0 15px 0;
    /*background-color: #e74c3c;*/
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ecf0f1;
    padding: 11px 0;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #A81213;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color:#A81213;
    background: none;
    outline: 0;
}

.navbar-default .navbar-nav>.active>a {
    color: #A81213;
}

.navbar-toggle {
    border: none;
    margin-top: 0;
    margin-right: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
    outline: 0;
}

.navbar-default .navbar-collapse {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    box-shadow: none;
}

.jumbotron {
    background: #e74c3c url(../img/banner.jpg) no-repeat;
    background-color: #e74c3c;
    background-size: cover;
    min-height: 400px;
    margin: 0;
    padding: 0px 0;
    opacity: 1.2;
}

video{
    height: 100%;
    width: 100%;
}

.jumbotron h1 {
    color: white;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.jumbotron h1 span {
    color: #A81213;
    font-weight: 600;
}

.jumbotron h3 {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 60px 0;
}

.jumbotron h3 span {
    color: white;
}

.jumbotron .btn-primary {
    border-radius: 2px;
    border: 1px solid #2C3E50;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px 30px;
}

.jumbotron .btn-primary:hover {
    background: rgba(0, 0, 0, 0.9);
}

.jumbotron>.row{
    padding-top: 120px;
    text-shadow: 1px 3px 10px #000000;
}

.services {
    padding: 60px 0;
    border-bottom: 1px solid #e3e3e3;
}

.services h3 {
    margin-bottom: 30px;
}

.services p {
    margin-bottom: 40px;
}

.services .more {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

.services-web,
.services-dev {
    margin-bottom: 60px;
}

.icon-sprite {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(../img/sprite.png) no-repeat;
    background-position: left top;
    margin-bottom: 20px;
}

.icon-sprite.sprite-web {
    background-position: left -32px;
}

.icon-sprite.sprite-dev {
    background-position: -32px -32px;
}

.icon-sprite.sprite-sup {
    background-position: -64px -32px;
}


/****end****/


/****latest-work****/

.heading {
    padding: 60px 0;
}

.heading h1 {
    background: url(../img/line.png) no-repeat center bottom;
    padding: 0 0 20px 0;
}

.control-right {
    padding: 50px 0 0 0;
}

.gallery {
    background: #2c3e50;
}

.gallery-inner img {
    margin: 0;
    padding: 0;
    opacity: 0.6;
}

.gallery-inner {
    position: relative;
    width: 25%;
    float: left;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.gallery-inner .caption h4 {
    color: #fff;
}

.gallery-inner .caption small {
    color: rgba(255, 255, 255, 0.6);
}

.gallery-inner .caption {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(243, 156, 18, 0.9);
    -webkit-transition: opacity 1s ease-in-out;
}

.gallery-inner:hover .caption {
    opacity: 1;
}

.gallery-inner .caption .btn-trigger {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -22px;
}

.gallery-inner .caption .btn-trigger a {
    width: 44px;
    height: 44px;
    text-indent: -99999px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: left bottom;
    border: 1px solid #fff;
}

.gallery-inner .caption .btn-trigger a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
}

.gallery-inner .caption .btn-trigger .web-link {
    background-position: left bottom;
    position: absolute;
    right: 50%;
    margin-left: -1px;
}

.gallery-inner .caption .btn-trigger .more-link {
    background-position: -44px bottom;
    position: absolute;
    left: 50%;
}


/****end****/


/****creative****/

.creative-process {
    padding: 0 0 60px 0;
}

.carousel-indicators {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: -44px;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 0 0 -6px;
    text-indent: 0;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #e3e3e3;
    border-radius: 0;
    color: #e74c3c;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 10px;
}

.carousel-indicators .active {
    width: auto;
    height: auto;
    margin: 0 0 0 -6px;
    background-color: #fff;
    border: 1px solid #3498db;
    color: #3498db;
    background: transparent;
}

#carousel-creative-process .item {
    padding-top: 10px;
}

#carousel-creative-process .item img {
    margin-bottom: 40px;
}

#carousel-creative-process .item h4 {
    margin-bottom: 30px;
}

#carousel-creative-process .item p {
    padding: 0 30px;
}


/****end****/


/****testimonials****/

.testimonials {
    background-color: #edf1f4;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 44px;
    border-radius: 2px;
    width: auto;
    font-size: 14px;
    border: 0px solid #bdc3c7;
    padding: 11px 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #95a5a6;
    text-align: center;
    text-shadow: none;
    filter: alpha(opacity=50);
    opacity: 1;
}

.carousel-control.left {
    background: none;
    left: 50%;
    margin-left: -81px;
}

.carousel-control.right {
    background: none;
    right: 50%;
    margin-right: -82px;
}

.carousel-control:focus,
.carousel-control:hover {
    opacity: 1;
    color: #3498db;
    border: 1px solid #3498db;
}

#carousel-testimonials blockquote p {
    padding: 104px 30px 40px 30px;
}

#carousel-testimonials blockquote cite {
    font-weight: 700;
    color: #333;
}

.carousel-indicators li{
    border: 0
}


/****end****/


/*****call-to-action****/

.call-to-action {
    background: #f39c12 url(../img/call-to-action.png) no-repeat;
    background-size: cover;
    padding: 60px 30px;
}

.call-to-action h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}

.call-to-action a {
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid #fff;
}

.call-to-action a:hover {
    text-decoration: none;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
}


/****end****/


/****contact-info****/

.contact-info {
    background-color: #c0392b;
    padding: 12px 0;
}

.contact-info h6 {
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.contact-info p {
    color: #fff;
    font-size: 14px;
}

.icon-sprite.sprite-loc {
    background-position: left top;
}

.icon-sprite.sprite-mail {
    background-position: -32px top;
}

.icon-sprite.sprite-phone {
    background-position: -64px top;
}

.contact-info .location,
.contact-info .email {
    margin-bottom: 60px;
}


/***end****/


/***footer***/

footer {
    padding: 60px 0;
}

.copyright small {
    color: #95a5a6;
    font-size: 13px;
}

.social-icons {
    padding-top: 0px;
}

.icon-sprite.sprite-ig {
    background-position: left -64px;
}

.icon-sprite.sprite-fb {
    background-position: -32px -64px;
}

.icon-sprite.sprite-dc {
    background-position: -64px -64px;
}

.icon-sprite.sprite-gp {
    background-position: -96px -64px;
}

.icon-sprite.sprite-db {
    background-position: -128px -64px;
}


/****end****/


/*****tablet mode*****/

@media(min-width:768px) {
    .navbar-default .navbar-collapse {
        background: none;
    }
    .navbar-default .navbar-nav {
        float: right;
    }
    .navbar-default .navbar-nav>li {
        margin-left: 30px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        border-bottom: 2px solid #fff;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 9px 0 0 0;
    }
}

@media(min-width:992px) {
    .navbar-default .navbar-nav>li {
        margin-left: 40px;
    }
    .jumbotron h3 {
        font-size: 24px;
    }
    .services-web,
    .services-dev {
        margin-bottom: 0px;
    }
    .heading h1 {
        text-align: left;
        background-position: left bottom;
    }
    .control-right {
        padding: 25px 0 0 0;
        text-align: right;
    }
    #carousel-creative-process .carousel-indicators {
        margin-bottom: 84px;
        text-align: right;
    }
    #carousel-creative-process .carousel-indicators>li {
        padding: 11px 20px;
    }
    #carousel-creative-process .item h4 {
        text-align: left;
    }
    #carousel-creative-process .item p {
        padding: 0;
    }
    #carousel-creative-process .item img{
        margin-bottom: 60px;
    }

}


/*
* Loader
*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }



#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out; 
                transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out; 
                transition: all 0.3s 1s ease-out;
}



#navigation{

    padding: 0px;
    border-radius: 0px;
    padding-top : 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px; 
}

.header{
    z-index: 999;
}


.carousel-inner .row p{
    text-align: justify;
    text-justify: inter-word;
}

.carousel-inner .row h4{
    color: #e74c3c;
}

.bob{
    font-family: '3Dumb';
    color: white;
    font-size: 150%
}

.navbar-default .navbar-brand{
    color: white;
    font-size: 250%;
}

/**
 *
 * News
 * 
 */

#bob {
    max-width: 80%;
    margin: auto;
    font-size: 24px;
}

#bob-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 300px;
}

#bob-container i {
    font-size: 36px;
    margin: 8px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#bob-container i:hover {
    color: #333;
}

#bob li {
    color: #f2f2f2;
    background: #74cfae;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    padding: 10px 16px 10px 16px;
    line-height: 40px;
    list-style: none;
    font-size: 24px;
    text-align: left;
}

#bob li .state {
    font-size: inherit;
    margin: 0;
}

#bob span.hour {
    font-weight: 700;
    font-size: 24px;
}



#bob-infos-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 16px 15px;
    border-color: transparent transparent #74cfae transparent;
    margin: 6px auto 0;
}

#bob-infos {
    max-width: 80%;
    margin: auto;
    padding: 12px;
    color: #f2f2f2;
    background: #74cfae;
    min-height: 200px;
}

#bob-infos .infos-hour {
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

#bob-infos h4 {
    color: #F2F2F2;
    font-weight: 500;
}

#bob-infos .infos-text {
    text-align: left;
    font-size: 18px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 *
 *  Services
 * 
 */

.services p{
    display: block;
    min-height: 100px;
}

.light-bg{
    color: #666666;
}